.far {
    font-size: 1.5rem;
}

.load-processor-button:hover {
    background-color: rgb(51, 51, 56);
}

.processor-name {
    font-size: 1.1rem;
}

.spec-headings {
    font-size: 1rem;
    text-align: right;
}

.spec-content {
    font-size: 0.95rem;
    text-align: left;
}
