<div id="menu">
    <mat-toolbar id="menu">
        <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
            style="max-height: 100px; max-width: 50px"
        >
            <img src="{{ logoImagePath }}" class="img-fluid" />
            <a routerLink="/build-system">
                <div
                    class="mask"
                    style="background-color: rgba(255, 255, 255, 0.178)"
                ></div>
            </a>
        </div>
        <!-- <img class="img-fluid" src="{{ logoImagePath }}" /> -->

        <span class="title-text">PartPicker</span>
        <span>
            <button
                matRipple
                type="button"
                class="btn btn-outline-info authentication-button text-white"
            >
                <i class="fas fa-user-shield"></i> Authentication
            </button>
            <button
                matRipple
                type="button"
                class="btn btn-outline-info build-button text-white"
                routerLink="/build-system"
                routerLinkActive="active-route"
            >
                <i class="fas fa-microchip"></i> Build System
            </button>
            <span mdbDropdown class="dropdown">
                <button
                    matRipple
                    type="button"
                    class="btn btn-outline-info products-button text-white"
                    routerLink="/products"
                    routerLinkActive="active-route"
                >
                    <i class="fas fa-database"></i> Products
                </button>
                <button
                    type="button"
                    class="
                        btn btn-outline-info
                        dropdown-toggle dropdown-toggle-split dropdown-button
                    "
                    id="dropdownMenuButton"
                    mdbDropdownToggle
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                >
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>

                <div
                    mdbDropdownMenu
                    style="text-align: center"
                    class="
                        row
                        dropdown-menu dropdown-menu-dark
                        d-flex
                        align-items-centre
                        mb-3
                        dropdown-row
                    "
                    aria-labelledby="dropdownMenuButton"
                >
                    <div class="col">
                        <img
                            class="cpu-image"
                            src="{{ cpuImagePath }}"
                            alt="..."
                        />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/processors"
                        >
                            Processor
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="mobo-image"
                            src="{{ moboImagePath }}"
                            alt="..."
                        />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/motherboards"
                        >
                            Motherboard
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="ram-image"
                            src="{{ ramImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/memory"
                        >
                            Memory
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="cpu-cooler-image"
                            src="{{ cpuCoolerImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/coolers"
                        >
                            Air Cooler
                        </button>
                    </div>
                </div>
                <div
                    mdbDropdownMenu
                    style="text-align: center"
                    class="
                        row
                        dropdown-menu dropdown-menu-dark
                        d-flex
                        align-items-centre
                        mb-3
                        dropdown-row
                    "
                    aria-labelledby="dropdownMenuButton"
                >
                    <div class="col">
                        <img
                            class="graphics-card-image"
                            src="{{ graphicsCardImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/graphics-cards"
                        >
                            Graphics Card
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="power-suppply-image"
                            src="{{ powerSupplyImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/power-supplies"
                        >
                            Power Supply
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="storage-image"
                            src="{{ storageImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/storage"
                        >
                            Storage
                        </button>
                    </div>
                    <div class="col">
                        <img
                            class="cabinate-image"
                            src="{{ cabinateImagePath }}"
                            alt="..."
                        />
                        <br />
                        <button
                            matRipple
                            class="
                                btn btn-outline-success btn-rounded btn-sm
                                mt-1
                            "
                            routerLink="/products/cabinates"
                        >
                            Cabinate
                        </button>
                    </div>
                </div>
            </span>
        </span>
        <span class="spacer"></span>
        <button
            matRipple
            type="button"
            class="btn btn-outline-danger logout-button"
        >
            <i class="fas fa-sign-out-alt"><span> </span></i> Logout
        </button>
    </mat-toolbar>
</div>
