.far {
    font-size: 1.5rem;
    padding: 0 3.5px 0 3.5px;
}

.fas {
    font-size: 1.5rem;
    padding: 0 5px 0 5px;
}

.fa-rupee-sign {
    font-size: 0.75rem;
    padding: 0 5px 0 5px;
}

.filters-scroll {
    max-width: 3000px;
    height: 530px;
    overflow-y: auto;
    overflow-x: hidden;
}

.manufacturers-scroll {
    min-width: 250px !important;
    max-width: 3000px;
    height: 160px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-scroll {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-cabinate-button {
    margin-right: 5px;
}

.add-cabinate-button:hover {
    background-color: rgb(51, 51, 56);
}

.load-cabinate-button {
    margin-left: 5px;
}

.load-cabinate-button:hover {
    background-color: rgb(51, 51, 56);
}

.cabinate-name {
    font-size: 1.1rem;
}

.spec-headings {
    font-size: 1rem;
    text-align: right;
}

.spec-content {
    font-size: 0.95rem;
    text-align: left;
}

.clear-filter-button {
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.clear-filter-button:hover {
    background-color: rgb(92, 90, 90);
}

.mat-input-element {
    color: rgb(255, 255, 255);
}

.ng-star-inserted {
    font-weight: 550;
    color: rgb(255, 255, 255);
}

.mat-form-field-autofill-control {
    color: rgb(255, 255, 255);
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(255, 255, 255);
    }
    mat-form-field {
        .mat-hint,
        input,
        ::placeholder,
        .mat-form-field-label {
            color: rgb(0, 0, 0);
        }
    }
}

::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 5px;
    }
}
