<div class="container" *ngIf="coolers">
    <div class="row">
        <!-- Filters Column Div. -->
        <div class="col-md-3">
            <h3
                class="filters-heading mt-3"
                style="font-size: 1.1rem; font-weight: 1000; color: black"
            >
                Filters
            </h3>

            <!-- Simplebar Scrollbar for filters. -->
            <ngx-simplebar class="filters-scroll">
                <!-- Filters card -->
                <div
                    class="row card text-white"
                    style="background-color: #3b3838; padding: 10px"
                >
                    <!-- Price Filter. -->
                    <span
                        class="mb-1"
                        style="font-weight: bold; font-size: 1rem"
                        >Price</span
                    >

                    <div class="d-flex allign-items-center">
                        <mat-form-field
                            class="form-components col-md-6"
                            style="margin-left: 1.75px"
                            appearance="outline"
                        >
                            <mat-label>Min</mat-label>
                            <input
                                matInput
                                type="text"
                                id="price-min"
                                name="price-min"
                                [(ngModel)]="priceMin"
                            />
                            <i matSuffix class="fas fa-rupee-sign"></i>
                        </mat-form-field>
                        <mat-form-field
                            class="form-components col-md-6"
                            style="margin-left: 1.75px"
                            appearance="outline"
                        >
                            <mat-label>Max</mat-label>
                            <input
                                matInput
                                type="text"
                                id="price-max"
                                name="price-max"
                                [(ngModel)]="priceMax"
                            />
                            <i matSuffix class="fas fa-rupee-sign"></i>
                        </mat-form-field>
                    </div>

                    <button
                        type="button"
                        class="btn btn-success btn-rounded mb-2"
                        style="
                            margin-left: 10px;
                            max-width: 25%;
                            padding: 4px 4px 4px 4px;
                            font-size: 0.8rem;
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Apply"
                        (click)="applyFilters()"
                    >
                        Apply
                    </button>

                    <mat-divider></mat-divider>

                    <!-- Manufacturer Filter. -->
                    <span
                        class="mb-1 mt-2"
                        style="font-weight: bold; font-size: 1rem"
                        >Manufacturers</span
                    >

                    <div class="d-flex mb-2 justify-content-center">
                        <div class="row">
                            <ngx-simplebar class="manufacturers-scroll">
                                <div
                                    class="mb-1 col-md-12 d-flex allign-items-start justify-content-center"
                                    *ngFor="
                                        let manufacturerName of manufacturerNames;
                                        let i = index
                                    "
                                >
                                    <input
                                        type="checkbox"
                                        class="btn-check"
                                        [id]="[i]"
                                        autocomplete="off"
                                        (change)="
                                            checkboxClicked(
                                                $event,
                                                manufacturerName,
                                                'manufacturer'
                                            )
                                        "
                                    />
                                    <label
                                        class="btn btn-warning btn-rounded col-md-12"
                                        style="margin-right: 1.5px"
                                        [for]="[i]"
                                        >{{ manufacturerName }}</label
                                    >
                                </div>
                            </ngx-simplebar>
                        </div>
                    </div>

                    <!-- <div class="d-flex mb-2 justify-content-center">
                        <div class="row">
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-1"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ADATA',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-1"
                                    >ADATA</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-2"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'AEROCOOL',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-2"
                                    >AEROCOOL</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-3"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ANT ESPORTS',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-3"
                                    >ANT ESPORTS</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-4"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ANTEC',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-4"
                                    >ANTEC</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-5"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ARCTIC',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-5"
                                    >ARCTIC</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-6"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ASUS',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-6"
                                    >ASUS</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-7"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'be quiet!',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-7"
                                    >be quite!</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-8"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'COOLER MASTER',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-8"
                                    >COOLER MASTER</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-9"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'CORSAIR',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-9"
                                    >CORSAIR</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-10"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'DEEPCOOL',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-10"
                                    >DEEPCOOL</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-11"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'EKWB',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-11"
                                    >EKWB</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-12"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'ENERMAX',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-12"
                                    >ENERMAX</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-13"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'FRACTAL DESIGN',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-13"
                                    >FRACTAL DESIGN</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-14"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'GIGABYTE',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-14"
                                    >GIGABYTE</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-15"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'LIAN LI',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-15"
                                    >LIAN LI</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-16"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'MONTECH',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-16"
                                    >MONTECH</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-17"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'MSI',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-17"
                                    >MSI</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-18"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'NOCTUA',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-18"
                                    >NOCTUA</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-19"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'NZXT',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-19"
                                    >NZXT</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-20"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'SILVERSTONE',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="manufacturer-btn-check-20"
                                    >SILVERSTONE</label
                                >
                            </div>
                            <div
                                class="
                                    mb-1
                                    col-md-12
                                    d-flex
                                    allign-items-start
                                    justify-content-center
                                "
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="manufacturer-btn-check-21"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'THERMALTAKE',
                                            'manufacturer'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="manufacturer-btn-check-21"
                                    >THERMALTAKE</label
                                >
                            </div>
                        </div>
                    </div> -->

                    <button
                        type="button"
                        class="btn btn-success btn-rounded mb-2"
                        style="
                            margin-left: 10px;
                            max-width: 25%;
                            padding: 4px 4px 4px 4px;
                            font-size: 0.8rem;
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Apply"
                        (click)="applyFilters()"
                    >
                        Apply
                    </button>

                    <mat-divider></mat-divider>

                    <!-- Cooler Height (Without Fan) Filter. -->
                    <span
                        class="mt-2 mb-1"
                        style="font-weight: bold; font-size: 1rem"
                        >Cooler Height ( Without Fan )</span
                    >

                    <div class="d-flex allign-items-center">
                        <div class="row">
                            <div class="col-md-2">
                                <label
                                    for="height-without-fan-range"
                                    class="form-label text-white"
                                    style="
                                        margin-left: 15px;
                                        margin-right: 5px;
                                        font-weight: bold;
                                    "
                                    >{{ coolerHeightWithoutFan }}
                                </label>
                            </div>
                            <div class="col-md-1">
                                <label
                                    class="form-label text-white"
                                    style="font-weight: bold"
                                >
                                    mm</label
                                >
                            </div>
                            <div class="range col-md-8">
                                <input
                                    type="range"
                                    class="form-range"
                                    min="25"
                                    max="250"
                                    step="5"
                                    id="height-without-fan-range"
                                    [(ngModel)]="coolerHeightWithoutFan"
                                    style="margin-left: 12px"
                                />
                            </div>
                        </div>
                    </div>

                    <button
                        type="button"
                        class="btn btn-success btn-rounded mb-2"
                        style="
                            margin-left: 10px;
                            max-width: 25%;
                            padding: 4px 4px 4px 4px;
                            font-size: 0.8rem;
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Apply"
                        (click)="applyFilters()"
                    >
                        Apply
                    </button>

                    <mat-divider></mat-divider>

                    <!-- Cooler Height (With Fan) Filter. -->
                    <span
                        class="mt-2 mb-1"
                        style="font-weight: bold; font-size: 1rem"
                        >Cooler Height ( With Fan )</span
                    >

                    <div class="d-flex allign-items-center">
                        <div class="row">
                            <div class="col-md-2">
                                <label
                                    for="height-with-fan-range"
                                    class="form-label text-white"
                                    style="
                                        margin-left: 15px;
                                        margin-right: 5px;
                                        font-weight: bold;
                                    "
                                    >{{ coolerHeightWithFan }}
                                </label>
                            </div>
                            <div class="col-md-1">
                                <label
                                    class="form-label text-white"
                                    style="font-weight: bold"
                                >
                                    mm</label
                                >
                            </div>
                            <div class="range col-md-8">
                                <input
                                    type="range"
                                    class="form-range"
                                    min="25"
                                    max="250"
                                    step="5"
                                    id="height-with-fan-range"
                                    [(ngModel)]="coolerHeightWithFan"
                                    style="margin-left: 12px"
                                />
                            </div>
                        </div>
                    </div>

                    <button
                        type="button"
                        class="btn btn-success btn-rounded mb-2"
                        style="
                            margin-left: 10px;
                            max-width: 25%;
                            padding: 4px 4px 4px 4px;
                            font-size: 0.8rem;
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Apply"
                        (click)="applyFilters()"
                    >
                        Apply
                    </button>

                    <mat-divider></mat-divider>

                    <!-- Socket Filter. -->
                    <span
                        class="mt-2 mb-1"
                        style="font-weight: bold; font-size: 1rem"
                        >Socket</span
                    >

                    <div
                        class="d-flex allign-items-center justify-content-center"
                    >
                        <div class="row">
                            <div
                                class="col-md-12 d-flex allign-items-start mb-1"
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="socket-btn-check-1"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked($event, 'AM4', 'socket')
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="socket-btn-check-1"
                                    >AM4</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="socket-btn-check-2"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'LGA1200',
                                            'socket'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="socket-btn-check-2"
                                    >LGA 1200</label
                                >
                            </div>
                            <div
                                class="col-md-12 d-flex allign-items-start mb-1"
                            >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="socket-btn-check-3"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'LGA1151',
                                            'socket'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-right: 1.5px"
                                    for="socket-btn-check-3"
                                    >LGA 1151</label
                                >
                                <input
                                    type="checkbox"
                                    class="btn-check"
                                    id="socket-btn-check-4"
                                    autocomplete="off"
                                    (change)="
                                        checkboxClicked(
                                            $event,
                                            'sTRX4',
                                            'socket'
                                        )
                                    "
                                />
                                <label
                                    class="btn btn-warning btn-rounded col-md-6"
                                    style="margin-left: 1.5px"
                                    for="socket-btn-check-4"
                                    >sTRX4</label
                                >
                            </div>
                        </div>
                    </div>

                    <button
                        type="button"
                        class="btn btn-success btn-rounded mt-2 mb-2"
                        style="
                            margin-left: 10px;
                            max-width: 25%;
                            padding: 4px 4px 4px 4px;
                            font-size: 0.8rem;
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Apply"
                        (click)="applyFilters()"
                    >
                        Apply
                    </button>

                    <mat-divider></mat-divider>

                    <!-- Clear Filters. -->
                    <div class="col-md-12 mt-1 d-flex justify-content-center">
                        <button
                            matRipple
                            class="clear-filter-button btn btn-danger mt-2 mb-2"
                            type="button"
                            data-mdb-toggle="tooltip"
                            data-mdb-placement="top"
                            title="Clear Filters"
                            routerLink="power-supplies"
                            (click)="clearFilters()"
                        >
                            Clear Filters
                        </button>
                    </div>
                </div>
            </ngx-simplebar>

            <!-- Add cooler button. -->
            <button
                type="button"
                class="btn btn-primary mt-2 mb-5"
                style="margin-right: 5px"
                data-mdb-toggle="tooltip"
                data-mdb-placement="top"
                title="Add Cooler"
                routerLink="add-cooler"
            >
                Add Cooler
            </button>
        </div>

        <!-- Content div. -->
        <div class="col-md-9">
            <h2 class="mt-2" style="font-size: 2rem; color: black">
                Air Coolers
            </h2>

            <!-- Simplebar Scrollbar for content. -->
            <ngx-simplebar class="content-scroll">
                <div class="row">
                    <div
                        class="col-md-4 d-flex allign-items-start mb-5"
                        *ngFor="let cooler of coolers; let i = index"
                    >
                        <div
                            class="card text-center border border-primary shadow-0 text-white"
                            style="background-color: #000000"
                        >
                            <div
                                class="bg-image hover-overlay ripple"
                                data-mdb-ripple-color="light"
                            >
                                <img
                                    [src]="cooler.imagePath"
                                    class="img-fluid"
                                    style="
                                        max-width: 200px;
                                        max-height: 200px;
                                        min-width: 190px;
                                    "
                                />
                                <a [routerLink]="[i]">
                                    <div
                                        class="mask"
                                        style="
                                            background-color: rgba(
                                                255,
                                                255,
                                                255,
                                                0.349
                                            );
                                        "
                                    ></div>
                                </a>
                            </div>
                            <div class="card-header">
                                <strong class="cooler-name">{{
                                    cooler.name
                                }}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-start">
                                    <span class="col-md-6 spec-headings"
                                        ><strong>RPM Range</strong></span
                                    >
                                    <span class="col-md-6 spec-content">
                                        {{ cooler.fanRPMRange }}
                                    </span>

                                    <span class="col-md-6 spec-headings"
                                        ><strong
                                            >Height Without Fan</strong
                                        ></span
                                    >
                                    <span class="col-md-6 spec-content">
                                        {{ cooler.heightWithoutFan }} mm
                                    </span>

                                    <span class="col-md-6 spec-headings"
                                        ><strong>Height With Fan</strong></span
                                    >
                                    <span class="col-md-6 spec-content">
                                        {{ cooler.heightWithFan }} mm
                                    </span>

                                    <span class="col-md-6 spec-headings"
                                        ><strong>Color</strong></span
                                    >
                                    <span class="col-md-6 spec-content">
                                        {{ cooler.color }}
                                    </span>

                                    <span class="col-md-6 spec-headings"
                                        ><strong>Price</strong></span
                                    >
                                    <span class="col-md-6 spec-content">
                                        ₹ {{ cooler.price }}
                                    </span>
                                </div>
                                <button
                                    matRipple
                                    type="button"
                                    class="btn btn-outline-primary mt-4 add-cooler-button"
                                    data-mdb-toggle="tooltip"
                                    data-mdb-placement="top"
                                    title="Add Cooler"
                                    (click)="addCooler(i)"
                                >
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button
                                    matRipple
                                    type="button"
                                    class="btn btn-outline-primary mt-4 load-cooler-button"
                                    data-mdb-toggle="tooltip"
                                    data-mdb-placement="top"
                                    title="View Cooler"
                                    [routerLink]="[i]"
                                >
                                    <i
                                        class="far fa-arrow-alt-circle-right"
                                    ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
        </div>
    </div>
</div>
