<div class="container" *ngIf="processors">
    <h2>Processors</h2>
    <div class="row">
        <div
            class="col-md-4 d-flex allign-items-start mb-5"
            *ngFor="let processor of processors; let i = index"
        >
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        [src]="processor.imagePath"
                        class="img-fluid"
                        style="max-width: 300px; max-height: 300px"
                    />
                    <a [routerLink]="[i]">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <strong class="processor-name">{{ processor.name }}</strong>
                </div>
                <div class="card-body">
                    <div class="row justify-content-start">
                        <span class="col-md-6 spec-headings"
                            ><strong>Cores</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ processor.cores }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Threads</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ processor.threads }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Base Clock</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ processor.baseClock }} GHz
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Boost Clock</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ processor.boostClock }} GHz
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Socket</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ processor.socket }}
                        </span>
                        <span class="col-md-6 spec-headings"
                            ><strong>Price</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            ₹ {{ processor.price }}
                        </span>
                    </div>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            add-processor-button
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Add Processor"
                        (click)="addProcessor(i)"
                    >
                        <i class="fas fa-plus"></i>
                    </button>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            load-processor-button
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="View Processor"
                        [routerLink]="[i]"
                    >
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="storeProcessors()"
        style="margin-right: 5px"
    >
        Store Processors
    </button>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="loadProcessors()"
    >
        Load Processors
    </button>
</div>
