<div class="container">
    <h2>Graphics Cards</h2>
    <div class="row">
        <div
            class="col-md-4 d-flex allign-items-start"
            *ngFor="let graphicsCard of graphicsCards; let i = index"
        >
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        [src]="graphicsCard.imagePath"
                        class="img-fluid"
                        style="max-width: 200px; height: 150px"
                    />
                    <a [routerLink]="[i]">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <strong class="graphics-card-name">{{
                        graphicsCard.name
                    }}</strong>
                </div>
                <div class="card-body">
                    <div class="row justify-content-start">
                        <span class="col-md-6 spec-headings"
                            ><strong>Manufacturer</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ graphicsCard.manufacturer }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Memory</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ graphicsCard.memory }} GB
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Core Clock</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ graphicsCard.coreClock }} MHz
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Boost Clock</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ graphicsCard.boostClock }} MHz
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Slot Width</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ graphicsCard.slotWidth }}
                        </span>
                        <span class="col-md-6 spec-headings"
                            ><strong>Price</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            ₹ {{ graphicsCard.price }}
                        </span>
                    </div>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            add-graphics-card-button
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Add Graphics Card"
                    >
                        <i class="fas fa-plus"></i>
                    </button>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            load-graphics-card-button
                            ripple
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="View Graphics Card"
                        [routerLink]="[i]"
                    >
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="storeGraphicsCards()"
        style="margin-right: 5px"
    >
        Store Graphics Cards
    </button>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="loadGraphicsCards()"
    >
        Load Graphics Cards
    </button>
</div>
