<div class="container">
    <h2>Motherboards</h2>
    <div class="row">
        <div
            class="col-md-4 d-flex allign-items-start"
            *ngFor="let motherboard of motherboards"
        >
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        [src]="motherboard.imagePath"
                        class="img-fluid"
                        style="max-height: 150px"
                    />
                    <a routerLink="/products/motherboards/motherboard-datail">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <strong class="motherboard-name">{{
                        motherboard.name
                    }}</strong>
                </div>
                <div class="card-body">
                    <div class="row justify-content-start">
                        <span class="col-md-6 spec-headings"
                            ><strong>Socket</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ motherboard.socket }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Chipset</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ motherboard.chipset }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Wi-Fi Support</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ motherboard.wirelessSupport }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Ethernet Support</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ motherboard.ethernetPorts }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Form Factor</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ motherboard.formFactor }}
                        </span>
                        <span class="col-md-6 spec-headings"
                            ><strong>Price</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            ₹ {{ motherboard.price }}
                        </span>
                    </div>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            load-motherboard-button
                            ripple
                        "
                        routerLink="/products/motherboards/motherboard-datail"
                    >
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
