.title-text {
    font-size: 2rem;
    margin-bottom: 30px !important;
    text-align: center;
}

.ngxImageZoomContainer {
    width: auto !important;
    height: auto !important;
}

.ngxImageZoomThumbnail {
    width: 400px !important;
    height: 400px !important;
}
