<h2 class="title-text mt-3">Cooler Detail</h2>
<div class="row">
    <div class="col-md-6">
        <lib-ngx-image-zoom
            [thumbImage]="cooler.imagePath"
            [fullImage]="cooler.imagePath"
            [magnification]="1.2"
            [enableScrollZoom]="true"
            [enableLens]="true"
            [lensWidth]="200"
            [lensHeight]="150"
        >
        </lib-ngx-image-zoom>
    </div>

    <div class="col-md-6">
        <h2>{{ cooler.name }}</h2>
        <p><strong>Manufacturer: </strong>{{ cooler.manufacturer }}</p>
        <p><strong>Series: </strong>{{ cooler.series }}</p>
        <p><strong>Fan RPM Range: </strong>{{ cooler.fanRPMRange }}</p>
        <p>
            <strong>Height Without Fan: </strong
            >{{ cooler.heightWithoutFan }} mm
        </p>
        <p><strong>Height With Fan: </strong>{{ cooler.heightWithFan }} mm</p>
        <p>
            <strong>Acoustical Noise Level: </strong
            >{{ cooler.acousticalNoiseLevel }}
        </p>
        <p>
            <strong>Socket Compatability: </strong
            >{{ cooler.socketCompatability }}
        </p>
        <p><strong>Color: </strong>{{ cooler.color }}</p>
        <p><strong>Water Cooled: </strong>{{ cooler.waterCooled }}</p>
        <p><strong>Fanless: </strong>{{ cooler.fanless }}</p>
        <p><strong>Price: ₹</strong>{{ cooler.price }}</p>
        <button
            matRipple
            type="button"
            class="btn btn-primary mt-2 mb-4 add-cooler-button"
            data-mdb-toggle="tooltip"
            data-mdb-placement="top"
            title="Add Cooler"
            (click)="addCooler()"
        >
            Add To Build
        </button>
    </div>
</div>
