th {
    vertical-align: middle;
}

tr {
    vertical-align: middle;
}

.component-headings {
    text-align: center;
}

.components {
    text-align: center;
}

.components:hover {
    background-color: rgb(53, 51, 51);
}
