th {
    vertical-align: middle;
}

tr {
    vertical-align: middle;
}

.component-headings {
    text-align: center;
}

.components {
    text-align: center;
}

.components:hover {
    background-color: rgb(53, 51, 51);
}

.component-headings th {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
}

.components th {
    font-size: 1.1rem;
    font-weight: 550;
}

.components td {
    color: rgb(136, 238, 238);
    font-size: 1.05rem;
    font-weight: 550;
}
