<h1>Build System page</h1>
<div class="table-responsive">
    <table class="table table-dark border-light">
        <thead>
            <tr class="component-headings">
                <th scope="col">Components</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="components">
                <th scope="row">CPU</th>
                <td *ngIf="cpuSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/processors"
                    >
                        Add CPU
                    </button>
                </td>
                <td *ngIf="cpuSelected !== null">
                    <img
                        [src]="cpuSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 150px"
                    />
                </td>
                <td *ngIf="cpuSelected === null">None</td>
                <td *ngIf="cpuSelected !== null">
                    {{ cpuSelected.name }}
                </td>
                <td *ngIf="cpuSelected === null">None</td>
                <td *ngIf="cpuSelected !== null">₹ {{ cpuSelected.price }}</td>
            </tr>
            <tr class="components">
                <th scope="row">CPU Cooler</th>
                <td *ngIf="coolerSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/coolers"
                    >
                        Add Cooler
                    </button>
                </td>
                <td *ngIf="coolerSelected !== null">
                    <img
                        [src]="coolerSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="coolerSelected === null">None</td>
                <td *ngIf="coolerSelected !== null">
                    {{ coolerSelected.name }}
                </td>
                <td *ngIf="coolerSelected === null">None</td>
                <td *ngIf="coolerSelected !== null">
                    ₹ {{ coolerSelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Motherboard</th>
                <td *ngIf="motherboardSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/motherboards"
                    >
                        Add Motherboard
                    </button>
                </td>
                <td *ngIf="motherboardSelected !== null">
                    <img
                        [src]="motherboardSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 150px"
                    />
                </td>
                <td *ngIf="motherboardSelected === null">None</td>
                <td *ngIf="motherboardSelected !== null">
                    {{ motherboardSelected.name }}
                </td>
                <td *ngIf="motherboardSelected === null">None</td>
                <td *ngIf="motherboardSelected !== null">
                    ₹ {{ motherboardSelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Memory</th>
                <td *ngIf="memorySelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/memory"
                    >
                        Add Memory
                    </button>
                </td>
                <td *ngIf="memorySelected !== null">
                    <img
                        [src]="memorySelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="memorySelected === null">None</td>
                <td *ngIf="memorySelected !== null">
                    {{ memorySelected.name }}
                </td>
                <td *ngIf="memorySelected === null">None</td>
                <td *ngIf="memorySelected !== null">
                    ₹ {{ memorySelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Storage</th>
                <td *ngIf="storageSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/storage"
                    >
                        Add Storage
                    </button>
                </td>
                <td *ngIf="storageSelected !== null">
                    <img
                        [src]="storageSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="storageSelected === null">None</td>
                <td *ngIf="storageSelected !== null">
                    {{ storageSelected.name }}
                </td>
                <td *ngIf="storageSelected === null">None</td>
                <td *ngIf="storageSelected !== null">
                    ₹ {{ storageSelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Graphics Card</th>
                <td *ngIf="graphicsCardSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/graphics-cards"
                    >
                        Add Graphics Card
                    </button>
                </td>
                <td *ngIf="graphicsCardSelected !== null">
                    <img
                        [src]="graphicsCardSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="graphicsCardSelected === null">None</td>
                <td *ngIf="graphicsCardSelected !== null">
                    {{ graphicsCardSelected.name }}
                </td>
                <td *ngIf="graphicsCardSelected === null">None</td>
                <td *ngIf="graphicsCardSelected !== null">
                    ₹ {{ graphicsCardSelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Cabinate</th>
                <td *ngIf="cabinateSelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/cabinates"
                    >
                        Add Cabinate
                    </button>
                </td>
                <td *ngIf="cabinateSelected !== null">
                    <img
                        [src]="cabinateSelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="cabinateSelected === null">None</td>
                <td *ngIf="cabinateSelected !== null">
                    {{ cabinateSelected.name }}
                </td>
                <td *ngIf="cabinateSelected === null">None</td>
                <td *ngIf="cabinateSelected !== null">
                    ₹ {{ cabinateSelected.price }}
                </td>
            </tr>
            <tr class="components">
                <th scope="row">Power Supply</th>
                <td *ngIf="powerSupplySelected === null">
                    <button
                        matRipple
                        class="btn btn-outline-primary btn-rounded"
                        routerLink="/products/power-supplies"
                    >
                        Add Power Supply
                    </button>
                </td>
                <td *ngIf="powerSupplySelected !== null">
                    <img
                        [src]="powerSupplySelected.imagePath"
                        alt=""
                        class="img-fluid"
                        style="max-width: 150px; max-height: 100px"
                    />
                </td>
                <td *ngIf="powerSupplySelected === null">None</td>
                <td *ngIf="powerSupplySelected !== null">
                    {{ powerSupplySelected.name }}
                </td>
                <td *ngIf="powerSupplySelected === null">None</td>
                <td *ngIf="powerSupplySelected !== null">
                    ₹ {{ powerSupplySelected.price }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
