<div class="container">
    <h2>Power Supplies</h2>
    <div class="row">
        <div
            class="col-md-4 d-flex allign-items-start"
            *ngFor="let powerSupply of powerSupplies; let i = index"
        >
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        [src]="powerSupply.imagePath"
                        class="img-fluid"
                        style="max-width: 200px; height: 150px"
                    />
                    <a [routerLink]="[i]">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <strong class="power-supply-name">{{
                        powerSupply.name
                    }}</strong>
                </div>
                <div class="card-body">
                    <div class="row justify-content-start">
                        <span class="col-md-6 spec-headings"
                            ><strong>Manufacturer</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ powerSupply.manufacturer }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Form Factor</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ powerSupply.formFactor }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Wattage</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ powerSupply.wattage }} W
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Efficiency Rating</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ powerSupply.efficiencyRating }}
                        </span>

                        <span class="col-md-6 spec-headings"
                            ><strong>Modularity</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            {{ powerSupply.modular }}
                        </span>
                        <span class="col-md-6 spec-headings"
                            ><strong>Price</strong></span
                        >
                        <span class="col-md-6 spec-content">
                            ₹ {{ powerSupply.price }}
                        </span>
                    </div>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            add-power-supply-button
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="Add Power Supply"
                    >
                        <i class="fas fa-plus"></i>
                    </button>
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-primary
                            mt-4
                            load-power-supply-button
                            ripple
                        "
                        data-mdb-toggle="tooltip"
                        data-mdb-placement="top"
                        title="View Power Supply"
                        [routerLink]="[i]"
                    >
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="storePowerSupply()"
        style="margin-right: 5px"
    >
        Store Power Supply
    </button>
    <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="loadPowerSupply()"
    >
        Load Power Supply
    </button>
</div>
