.load-processor-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-motherboard-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-memory-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-cooler-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-graphics-card-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-power-supply-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-storage-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}

.load-cabinate-button:hover {
    background-color: rgba(179, 60, 253, 0.301);
}
