<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ cpuImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/processors">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-processor-button
                            ripple
                        "
                        routerLink="/products/processors"
                    >
                        <span class="processor-text align-self-center"
                            >Processors</span
                        >
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ moboImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/motherboards">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-motherboard-button
                            ripple
                        "
                        routerLink="/products/motherboards"
                    >
                        <span class="motherboard-text align-self-center"
                            >Motherboards</span
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ ramImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/memory">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-memory-button
                            ripple
                        "
                        routerLink="/products/memory"
                    >
                        <span class="memory-text align-self-center"
                            >Memory</span
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ cpuCoolerImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/coolers">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-cooler-button
                            ripple
                        "
                        routerLink="/products/coolers"
                    >
                        <span class="cooler-text align-self-center"
                            >Air Cooler</span
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ graphicsCardImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/graphics-cards">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-graphics-card-button
                            ripple
                        "
                        routerLink="/products/graphics-cards"
                    >
                        <span class="graphics-card-text align-self-center"
                            >Graphics Card</span
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ powerSupplyImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="/products/power-supplies">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-power-supply-button
                            ripple
                        "
                        routerLink="/products/power-supplies"
                    >
                        <span class="power-supply-text align-self-center"
                            >Power Supply</span
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ storageImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="#!">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-storage-button
                            ripple
                        "
                    >
                        <span class="storage-text align-self-center"
                            >Storage</span
                        >
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div
                class="
                    card
                    text-center
                    border border-primary
                    shadow-0
                    text-white
                "
                style="background-color: #000000"
            >
                <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                >
                    <img
                        src="{{ cabinateImagePath }}"
                        class="img-fluid mt-3"
                        style="max-width: 200px; max-height: 200px"
                    />
                    <a routerLink="#!">
                        <div
                            class="mask"
                            style="background-color: rgba(255, 255, 255, 0.349)"
                        ></div>
                    </a>
                </div>
                <div class="card-header">
                    <button
                        matRipple
                        type="button"
                        class="
                            btn btn-outline-secondary btn-rounded
                            mt-4
                            load-cabinate-button
                            ripple
                        "
                    >
                        <span class="cabinate-text align-self-center"
                            >Cabinate</span
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
