.far {
    font-size: 1.5rem;
    padding: 0 20px 0 20px;
}

.load-processors-button:hover {
    background-color: rgb(51, 51, 56);
}

.processor-text {
    font-size: 1.1rem;
    color: white;
}

.motherboard-text {
    font-size: 1.1rem;
    color: white;
}

.memory-text {
    font-size: 1.1rem;
    color: white;
}

.cooler-text {
    font-size: 1.1rem;
    color: white;
}

.graphics-card-text {
    font-size: 1.1rem;
    color: white;
}

.power-supply-text {
    font-size: 1.1rem;
    color: white;
}

.storage-text {
    font-size: 1.1rem;
    color: white;
}

.cabinate-text {
    font-size: 1.1rem;
    color: white;
}

.btn-outline-secondary:hover {
    background-color: rgba(179, 60, 253, 0.336);
}
