<h2 class="title-text mt-3">Storage Detail</h2>
<div class="row">
    <div class="col-md-6">
        <lib-ngx-image-zoom
            [thumbImage]="storage.imagePath"
            [fullImage]="storage.imagePath"
            [magnification]="1.5"
            [enableScrollZoom]="true"
            [enableLens]="true"
            [lensWidth]="200"
            [lensHeight]="150"
        >
        </lib-ngx-image-zoom>
    </div>
    <div class="col-md-6">
        <h2>{{ storage.name }}</h2>
        <p><strong>Manufacturer: </strong>{{ storage.manufacturer }}</p>
        <p><strong>Series: </strong>{{ storage.series }}</p>
        <p><strong>Capacity: </strong>{{ storage.capacity }} TB</p>
        <p><strong>Type: </strong>{{ storage.type }}</p>
        <p><strong>Cache: </strong>{{ storage.cache }} MB</p>
        <p>
            <strong>Form Factor: </strong>{{ storage.formFactor
            }}<span
                *ngIf="
                    storage.formFactor === '3.5' || storage.formFactor === '2.5'
                "
                >"</span
            >
        </p>

        <p>
            <strong>Storage Interface: </strong>{{ storage.storageInterface }}
        </p>
        <p><strong>NVME: </strong>{{ storage.NVME }}</p>
        <p><strong>Price: ₹</strong>{{ storage.price }}</p>
        <button
            matRipple
            type="button"
            class="btn btn-primary mt-2 mb-4 add-storage-button"
            data-mdb-toggle="tooltip"
            data-mdb-placement="top"
            title="Add Storage"
            (click)="addStorage()"
        >
            Add To Build
        </button>
    </div>
</div>
